apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.deploymentName" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.deployment.replicaCount }}
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "app.serviceAccountName" . }}
      containers:
      - name: {{ .Values.app.name }}
        image: "{{ .Values.deployment.image.repository }}:{{ .Values.deployment.image.tag }}"
        imagePullPolicy: {{ .Values.deployment.image.pullPolicy }}
        ports:
          - name: http
            containerPort: {{ .Values.deployment.container.port }}
            protocol: TCP
        {{- if .Values.deployment.env }}
        env:
          {{- toYaml .Values.deployment.env | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.deployment.resources | nindent 12 }}
