# FastAPI Configuration
fastapi:
  replicaCount: 2
  image:
    repository: fastapi-app
    tag: "v4"
    pullPolicy: Never
  service:
    type: LoadBalancer
    port: 8000
  resources:
    requests:
      memory: "256Mi"
      cpu: "200m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  ingress:
    enabled: true
    host: fastapi.local

# PostgreSQL Configuration
postgresql:
  enabled: true
  image:
      registry: docker.io
      repository: postgres
      tag: "16-alpine"
  auth:
    username: fastapi_user
    database: fastapi_db
    existingSecret: "postgres-secret"
    secretKeys:
      adminPasswordKey: "POSTGRES_PASSWORD"
      userPasswordKey: "POSTGRES_PASSWORD"
  primary:
    persistence:
      enabled: true
      size: 1Gi
      storageClass: standard

# Monitoring Configuration (Prometheus + Grafana)
kube-prometheus-stack:
  enabled: true
  grafana:
    service:
      type: LoadBalancer
      port: 3000

# Namespace
namespace: fastapi-app
